<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="TestPackage" value="https://pkgs.dev.azure.com/martin-mt/_packaging/TestPackage/nuget/v3/index.json" />
	</packageSources>
	<PropertyGroup>
		<AssemblyVersion>1.0.1</AssemblyVersion>
		<FileVersion>1.0.1</FileVersion>
		<Version>1.0.1</Version>
	</PropertyGroup>
</configuration>